.grid {
  display: grid;
  position: relative;
  grid-template-columns: 320px 200px;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
.play-button:disabled {
  opacity: 0.2;
}
canvas {
  border: 1px solid red;
}
.text {
  display: none;
}
.text.active{
  position: absolute;
  width: 300px;
  display: block;
  top: 250px;
  text-align: center;
  font-size: 28px;
  font-weight: 1000;
  color: black;
}